<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shoe Crew | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <!-- Header -->
      <header>
        <div class="logo">
          <h1 id="top">
            <a href="home.html" class="logo__text"
              >shoe<span class="outline">crew</span></a
            >
          </h1>
          <h3>The Universal Shoe Collection</h3>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="trending.html">Trending</a></li>
            <!-- <li><a href="collections.html">Collections</a></li> -->
            <li class="active"><a href="about.html">About</a></li>
            <li class="btn">
              <a href="new_shoe.html">
                <i class="material-icons"> add </i>
                <span>New Shoe</span>
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Page Body -->
      <div class="page about">
        <h2>About</h2>
        <p>
          Shoe Crew is designed to combine everyone’s favorite shoes into one
          location. Here you can find all the latest trends and styles organized
          by brand and collection. Shoe Crew makes it easy by redirecting you to
          the actual sellers with one click. Eventually, you will be able to
          save your own collections and share them with friends.
        </p>

        <p>
          The owner, <strong>Seth Duffin</strong>, thought of the idea when he
          was having a hard time keeping track of when and where to find new
          shoe drops. Shoe crew takes care of this by providing that information
          all in one place. He hopes that others will take advantage of this
          tool and share with others the latest shoe finds!
        </p>
        <br />

        <div class="flex-row">
          <div>
            <h3>Location</h3>
            <iframe
              class="media-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89475.65368239411!2d-122.89818444135955!3d45.50778013855602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950ec24d4da46d%3A0xa6e823d05767d2d0!2sNike%20World%20Headquarters!5e0!3m2!1sen!2sus!4v1619801154479!5m2!1sen!2sus"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div>
            <h3>Video</h3>
            <iframe
              class="media-item"
              width="100%"
              height="450"
              src="https://www.youtube.com/embed/MIr6QtAvzZM"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <br />
        <br />

        <div class="flex-row">
          <div>
            <h3>Contact</h3>
            <p class="no-bottom">
              Website: <a href="https://sethduffin.com">sethduffin.com</a>
              <br />
              Email: <a href="mailto:example@gmail.com">example@gmail.com</a>
              <br />
              Address:
              <a href="https://goo.gl/maps/583QqkrzNx5f23H36"
                >One Bowerman Dr, Beaverton, OR 97005</a
              >
            </p>
          </div>
          <div>
            <h3>More Information</h3>
            <a
              href="../assets/shoe_crew_brochure.pdf"
              target="_blank"
              class="button no-margin"
              >DOWNLOAD BROCHURE</a
            >
          </div>
          <div>
            <h3>Nike Pronunciation</h3>
            <audio controls>
              <source src="../assets/nike-audio.ogg" type="audio/ogg" />
              <source src="../assets/nike-audio.mp3" type="audio/mpeg" />
            </audio>
          </div>
        </div>
        <br />
        <br />

        <h3>Shoe Terminology</h3>
        <table>
          <thead>
            <tr>
              <th>Term</th>
              <th>Definition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aglet</td>
              <td>A metal or plastic tag at the end of a shoelace. The aglet makes
            lacing easier and it protects the lace from unraveling.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Ball</td>
              <td>The padded area of the foot between the big toe and the arch of the
            foot.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Back Seam</td>
              <td>The vertical seam at the center of the back of a shoe or boot.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Pitch</td>
              <td>The angle of the back part of the heel where it meets the sole, compared to the front part of the heel where it meets the sole. On a high-heeled shoe the pitch should be at a larger angle, in order to stabilize the heel.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Sole</td>
              <td>The entire part of the shoe that sits below the wearer’s foot. As
            opposed to the upper. The upper and sole make up the whole of the
            shoe.</td>
            </tr>
          </tbody>

        </table>
        <br />
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2021 &bull; Shoe Crew &bull; Built by Seth Duffin</p>
    </footer>
    <div class="gradient" />
  </body>
</html>
