<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shoe Crew</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <!-- Header -->
      <header>
        <div class="logo">
          <h1 id="top">
            <a href="home.html" class="logo__text"
              >shoe<span class="outline">crew</span></a
            >
          </h1>
          <h3>The Universal Shoe Collection</h3>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="trending.html">Trending</a></li>
            <!-- <li><a href="collections.html">Collections</a></li> -->
            <li><a href="about.html">About</a></li>
          </ul>
        </nav>
      </header>

      <!-- Page Body -->
      <div class="page">
        <div class="intro">
          <p>Browse all your favorite shoe brands in one place.</p>
          <p>Get notified of new drops.</p>
          <p>Add shoes you've found to shoe crew.</p>
        </div>

        <h2>Featured</h2>
        <ul class="cards">
          <li>
            <a
              target="_blank"
              href="https://www.nike.com/t/air-force-1-07-mens-shoe-5QFp5Z/CW2288-111"
              >Nike Air Force One's</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.vans.com/shop/perf-leathers-slip-on-black"
              >Leather Vans</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.famousfootwear.com/product/adidas-womens-cloudfoam-pure-sneaker-1042038/white-white-32041"
              >Adidas Cloudfoam Pure Shoes</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.stadiumgoods.com/air-jordan-1-mid-chicago-2020-554724-173"
              >Air Jordan 1 Retro</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.vans.com/shop/classic-tumble-old-skool-true-white"
              >Vans Old Skool</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.converse.com/shop/p/chuck-taylor-all-star-unisex-high-top-shoe/M9160_050.html"
              >Converse Chuck Taylor</a
            >
          </li>
        </ul>

        <br />

        <h3 id="test">How it Works</h3>
        <p>
          Crew members find and create collections from different shoe
          companies. Our partners provide us with <em>exclusive deals</em> and
          tips on upcoming drops that can all be found on Shoe Crew.
        </p>
        <p>
          Browse through our
          <a href="collections.html">curated collections</a> to discover shoes
          for you! Shoe Crew simply redirects you to the shoe's manufacture to
          continue your seamless shopping experience.
        </p>
        <p>
          Join the crew to receive notifications when your shoes are back in
          stock and contribute to the community. Share shoes you've found for
          others to discover.
        </p>
        <br />

        <h3>Meet the Crew</h3>
        <h4>Sam Baker</h4>
        <blockquote>
          I love staying in-the-know about new shoe drops.
        </blockquote>
        <h4>Alyssa Bellnap</h4>
        <blockquote>
          It's so easy to find comfortable and cool shoes that match your fit.
        </blockquote>
        <a href="#top" class="to-top">Back to Top</a>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2021 &bull; Shoe Crew &bull; Built by Seth Duffin</p>
    </footer>
  </body>
</html>
