<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shoe Crew | Trending</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <!-- Header -->
      <header>
        <div class="logo">
          <h1 id="top">
            <a href="home.html" class="logo__text"
              >shoe<span class="outline">crew</span></a
            >
          </h1>
          <h3>The Universal Shoe Collection</h3>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li class="active"><a href="trending.html">Trending</a></li>
            <!-- <li><a href="collections.html">Collections</a></li> -->
            <li><a href="about.html">About</a></li>
          </ul>
        </nav>
      </header>

      <!-- Page Body -->
      <div class="page">
        <h2>Trending</h2>
        <ol id="trending" class="cards grid products"></ol>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2021 &bull; Shoe Crew &bull; Built by Seth Duffin</p>
    </footer>
  </body>
</html>
