<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Budget Vacations</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <h1>Budget Vacations</h1>
        <nav>
          <ul>
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="destinations.html">Destinations</a></li>
            <li><a href="packages.html">Packages</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>

      
    </main>

    <footer>
      <p>&copy; 2021 &bull; Budget Vacations &bull; Built by Seth Duffin</p>
    </footer>
  </body>
</html>
