<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Budget Vacations</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <h1>Budget Vacations</h1>
        <nav>
          <ul>
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="destinations.html">Destinations</a></li>
            <li><a href="packages.html">Packages</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>
      <image class="hero" src="../assets/resort1.jpg" />
      <div class="page">
        <h2>asdf</h2>
        <p>
          Many vacationers decide to plan their trip last minute and there is a
          great selection of destinations and cheap weekend getaways and
          vacation ideas to choose from. Look for getaway deals nearby to save
          time and money - last minute travel is one of the best ways to get a
          great deal. Although last minute booking can mean less choice in the
          type of accommodations and activities, it can be a great way to book
          cheap vacations. Certain attractions may be temporarily closed or
          require advance reservations. Some restaurants are currently offering
          pickup only. Hours/availability may have changed.
        </p>

        <p>
          Many vacationers decide to plan their trip last minute and there is a
          great selection of destinations and cheap weekend getaways and
          vacation ideas to choose from. Look for getaway deals nearby to save
          time and money - last minute travel is one of the best ways to get a
          great deal. Although last minute booking can mean less choice in the
          type of accommodations and activities, it can be a great way to book
          cheap vacations. Certain attractions may be temporarily closed or
          require advance reservations. Some restaurants are currently offering
          pickup only. Hours/availability may have changed.
        </p>
      </div>
    </main>
  </body>
</html>
