<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5; url = home.html" />
    <title>Shoe Crew | New Shoe</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Main Content -->
    <main>
      <!-- Header -->
      <header>
        <div class="logo">
          <h1 id="top">
            <a href="home.html" class="logo__text"
              >shoe<span class="outline">crew</span></a
            >
          </h1>
          <h3>The Universal Shoe Collection</h3>
        </div>

        <!-- Navigation -->
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="trending.html">Trending</a></li>
            <!-- <li><a href="collections.html">Collections</a></li> -->
            <li><a href="about.html">About</a></li>
            <li class="btn active">
              <a href="new_shoe.html">
                <i class="material-icons"> add </i>
                <span>New Shoe</span>
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Page Body -->
      <div class="page">
        <h2>Form Submitted</h2>
        <div>
          <p>Your shoe has been added to the Shoe Crew Collection! Your submission will be reviewed by Shoe Crew Staff and may be featured on the home page. We will let you know if that happens.<p>
          <p>Thank you for contributing.</p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2021 &bull; Shoe Crew &bull; Built by Seth Duffin</p>
    </footer>
    <div class="gradient" />
  </body>
</html>
